
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  text-align: center;
}
.page {
  padding: 2em 1em;
}
.cover-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}
.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
input, button {
  padding: 10px;
  margin: 0.5em;
  width: 80%;
  max-width: 300px;
}
button {
  background: #f97b61;
  color: white;
  border: none;
  border-radius: 30px;
}
.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 2rem;
}
.contact-box {
  width: 280px;
  background: #fffdfd;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  text-align: center;
}
.contact-box h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.contact-box .main {
  font-size: 1rem;
  color: #444;
}

.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}


